run = "python generate.py"
entrypoint = "generate.py"
modules = ["python-3.12"]

hidden = [".config"]

[nix]
channel = "stable-24_05"

[languages.bash]
pattern = "**/*.sh"
syntax = "bash"

[deployment]
run = ["python", "generate.py"]
deploymentTarget = "cloudrun"